<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write A Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Post Page</h1>
    <div>
        <form action="/post" method="post">
           <input type="text" name="username" placeholder="Type Username"> <br><br>
           <textarea name="post" placeholder="write your post"></textarea><br>
           <button>submit</button>
        </form>
    </div>
</body>
</html>