<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show In Detail</title>
</head>
<body>
    <h1>Showing In Detail</h1>
    <h1>id:<%= post.id%></h1>
    <h2>username:<%=post.username%></h2>
    <h3>content:<%= post.post%></h3>
</body>
</html>